---
title:
description: This is Top page
page_id: top
dir: .
com_name: eleventy
tel: 000-0000-0000
fax: 000-0000-0000
---

{% include "header.njk" %}
<!-- main start -->
<main>
  <section class="padding-tb">
    <div class="inner">
      <h1 class="section_title">main page</h1>
    </div>
  </section>
</main>
<!-- main end-->
{% include "footer.njk" %}
