      <footer class="padding-tb ">
        <div class="logo">
          <a href="#"><img src="{{dir}}/img/logo.png" alt="logo"></a>
        </div>
        <nav>
          <ul>
            <li>
              <a href="#">top</a>
            </li>
            <li>
              <a href="#">sub</a>
            </li>
            <li>
              <a href="#">sub</a>
            </li>
            <li>
              <a href="#">sub</a>
            </li>
          </ul>
        </nav>
      </footer>
  </body>
</html>