      <footer class = "container-padding-lr">
        <div id="page_top"><a href="#">></a></div>
        <div class="section-container">
          <div class="inner">
              <div class="footer__wrapper">
                <div class="footer-logo">
                  <a class="footer-logo__link" href="#" >
                    <img
                    class="footer-logo__img"
                    src="{{ dir }}/img/footer-logo.png"
                    alt="logo"
                  />
                  </a>
                </div>
                <ul class="footer-nav__list">
                  <li class="footer-nav__item">
                    <a href="{{dir}}/company/index.html" class="footer-nav__link">sub</a>
                  </li>
                  <li class="footer-nav__item">
                    <a href="{{dir}}/index.html#access" class="footer-nav__link">sub</a>
                  </li>
                  <li class="footer-nav__item">
                    <a href="{{dir}}/privacy" class="footer-nav__link">sub</a>
                  </li>
                </ul>
              </div>
          </div>
          <p class="copyright">© 2023 All Rights Reserved.</p>
        </div>
      </footer>
  </body>
</html>