<!-- lower-mv start-->
<div
  class="lower-mv container-padding-lr"
  style="
    background-image: url({{dir}}/img/{{mv_link}}/mv.jpg);
    background-repeat: no-repeat;
  "
>
  <div class="inner flex">
    <div class="lower-mv__textbox">
      <h1 class="lower-mv__text">
        {{ title_en }}<span class="jp">{{ title }}</span>
      </h1>
    </div>
  </div>
</div>
<!-- lower-mv end-->
<div class="breadcrumb">
  <div class="inner">
    <ul class="breadcrumb__list flex">
      <!-- Breadcrumb NavXT 6.4.0 -->
      <li class="home">
        <span
          ><a href="{{ dir }}/" class="home hv"><span>TOP</span></a></span
        >
      </li>
      <li class="post post-page current-item">
        <span class="post post-page current-item">{{ title }}</span>
      </li>
    </ul>
  </div>
</div>
