---
dir: /.
---
{% include "header.njk" %}
<main class = "sub-orders--content">
  <section class="padding-section ">
    <div class="inner">
      <h1>{{ postDate }}</span>{{postTitle}}</h1>
      {{content | safe}}
    </div>
    <div class="inner">
      <ul class = "pagination">
        <li>{% if pagination.href.previous %}<a class = "prev-page" href="{{ dir }}/{{ pagination.href.previous }}"><</a>{% endif %}</li>
        {% for page_entry in pagination.pages %}
        {%- set page_url = pagination.hrefs[loop.index0] -%}
        <li>
          <a href="{{ dir }}/{{ page_url }}"{% if page.url == page_url %} aria-current="page"{% endif %}>{{ loop.index }}</a>
        </li>
        {% endfor %}
        <li>{% if pagination.href.next %}<a class = "next-page" href="{{ dir }}/{{ pagination.href.next }}">></a>{% endif %}</li>
      </ul>
    </div>
  </section>
</main>
{% include "footer.njk" %}